body:has(.category) {
  overflow-x: clip;
}

body:has(.category) header{
  background: linear-gradient(to bottom, var(--color-background) 18%, transparent 0);
}

body:has(.category) .home-menu{
  li:has(#theme) a{
    display: none;
  }
}
/* ==========================================================================
   MAIN .CATEGORY
   ========================================================================== */
.category {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  .breadcrumbs {
    position: absolute;
    top: -3rem;
    color: var(--color-text);

    a{
      color: var(--color-text);
    }
  }

  /* wrapper voor de width */
  .category-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    width: 85rem;
    padding: 1rem;
  }

  .filter-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  /* section .categorylist - hierin zitten de category-header > grid/list | pagination en de tabel in */
  .category-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;

    /* ==========================================================================
   GRID CHECKED - Wanneer de grid word aangeklikt dan gebeuren deze styling
   ========================================================================== */

    &:has(#images-only:checked) {
      td:not(:has(:is(.category-image, a))) {
        display: none;
      }

      tr:not(:has(.category-image)) {
        display: none;
      }

      /* tbody is de container voor de tr. auto-fill zorgt voor een wrap effect. */
      tbody {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }

      tr {
        display: block;
        padding: 0.5rem;
        background: none;
        box-shadow: none;
        border-radius: 5px;
      }

      /* de image in de table */
      .category-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      /* category-image border - deze borders komen op de image wanneer er op grid wordt geklikt. */
      tr:has(.category-image.expositie):hover,
      tr:has(.category-image.exhibition):hover {
        box-shadow: inset 0 0 0 2px var(--exhibition-color);
      }

      tr:has(.category-image.lancering):hover,
      tr:has(.category-image.launch):hover {
        box-shadow: inset 0 0 0 2px var(--launch-color);
      }

      tr:has(.category-image.debat):hover,
      tr:has(.category-image.debate):hover {
        box-shadow: inset 0 0 0 2px var(--debat-color);
      }

      tr:has(.category-image.symposium):hover {
        box-shadow: inset 0 0 0 2px var(--symposium-color);
      }

      tr:has(.category-image.exhibition-program):hover,
      tr:has(.category-image.expositie-programma):hover {
        box-shadow: inset 0 0 0 2px var(--exhibition-program-color);
      }

      tr:has(.category-image.public-program):hover,
      tr:has(.category-image.publiek-programma):hover {
        box-shadow: inset 0 0 0 2px var(--public-program-color);
      }

      tr:has(.category-image.performance):hover {
        box-shadow: inset 0 0 0 2px var(--performance-color);
      }

      tr:has(.category-image.film-screening):hover,
      tr:has(.category-image.filmvertoning):hover {
        box-shadow: inset 0 0 0 2px var(--film-screening-color);
      }

      tr:has(.category-image.talk):hover {
        box-shadow: inset 0 0 0 2px var(--talk-color);
      }

      tr:has(.category-image.educational-program):hover,
      tr:has(.category-image.educatief-programma):hover {
        box-shadow: inset 0 0 0 2px var(--educational-color);
      }
    }

    /* ==========================================================================
   DIV .CATEGORY-HEADER - hierin zitten de grid/list inputs in.
   ========================================================================== */
    .category-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .category-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;

        li {
          label {
            cursor: pointer;
            padding: 0.2rem 0.4rem;

            /* Wanneer er een input checked is geef dan een border om de label heen */
            &:has(input:checked) {
              border: var(--archive-grid-list-border);
              border-radius: 5px;
            }
          }
        }
      }
    }

    tbody {
      display: flex;
      flex-direction: column;
    }

    /* ==========================================================================
    TR .TABLE-HEADER Eerste stuk van de tabel waar de benamingen in staan. # | title | type | date | participants
    ========================================================================== */
    .table-header {
      position: sticky;
      top: 0;
      background: var(--color-background);
      z-index: 10;
      margin-bottom: 1rem;
    }

    /* ==========================================================================
    TABLE STYLING - styling voor de hele tabel
    ========================================================================== */
    tr {
      display: grid;
      grid-template-columns: 0.1fr 1fr 0.8fr 1fr 2fr 0.5fr;
      text-align: left;
      gap: 1rem;
      position: relative;
      padding: 1rem;
      color: var(--color-text);
      align-items: center;

      td:has(.link-detail) {
        position: absolute;
        inset: 0;

        a {
          position: absolute;
          inset: 0;
          z-index: 1;
          display: block;
        }
      }

      /* Wanneer er een .link-detail:hover in de tr aanwezig is geef dan een andere background aan de tr */

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.exhibition),
      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.expositie) {
        box-shadow: inset 0 0 0 1px var(--exhibition-color);
        background-color: rgba(var(--archive-exhibition-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.launch),
      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.lancering) {
        box-shadow: inset 0 0 0 1px var(--launch-color);
        background-color: rgba(var(--archive-launch-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.debate),
      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.debat) {
        box-shadow: inset 0 0 0 1px var(--debat-color);
        background-color: rgba(var(--archive-debat-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.symposium) {
        box-shadow: inset 0 0 0 1px var(--symposium-color);
        background-color: rgba(var(--archive-symposium-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.exhibition-program),
      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.expositie-programma) {
        box-shadow: inset 0 0 0 1px var(--exhibition-program-color);
        background-color: rgba(var(--archive-exhibition-program-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.public-program),
      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.publiek-programma) {
        box-shadow: inset 0 0 0 1px var(--public-program-color);
        background-color: rgba(var(--archive-public-program-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.performance) {
        box-shadow: inset 0 0 0 1px var(--performance-color);
        background-color: rgba(var(--archive-performance-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.film-screening),
      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.filmvertoning) {
        box-shadow: inset 0 0 0 1px var(--film-screening-color);
        background-color: rgba(var(--archive-film-screening-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.talk) {
        box-shadow: inset 0 0 0 1px var(--talk-color);
        background-color: rgba(var(--archive-talk-color-hover), var(--archive-table-bg-hover-alpha));
      }

      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.educational-program),
      &:has(.link-detail:hover):is(:nth-child(odd), :nth-child(even)):has(.types.educatief-programma) {
        box-shadow: inset 0 0 0 1px var(--educational-color);
        background-color: rgba(var(--archive-educational-color-hover), var(--archive-table-bg-hover-alpha));
      }



      /* geef alle tr behalve de .table-header een background */
      &:not(.table-header) {
        background: var(--table-tr-background);

        /* geef de odd tr's een background odd */
        &:nth-child(odd) {
          background: var(--table-tr-background-odd);
        }
      }

      /* border-radius voor de links en rechts boven van de eerste dataset in de tabel. dus niet .table-header */
      &:nth-child(2) {
        border-radius: 5px 5px 0 0;
      }

      /* border-radius voor de links en rechts onder van de laatste dataset in de tabel. */
      &:last-child {
        border-radius: 0 0 5px 5px;
      }

      h2 {
        text-transform: capitalize;
      }

      /* de td met een img die krijgt een text-align right > zodat de afbeelding altijd het meest rechts staat van de tabel. dit zorgt voor een vierkante hierarchie. */
      td:has(img) {
        text-align: right;
      }

      td:has(.participants) {
        width: max-content;
      }
    }

    .category-image {
      width: 5.5rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
  }

  .archive-type {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    height: fit-content;

    .types {
      width: 0.45rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }

  .participants {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    p {
      width: max-content;
    }
  }
}

/* pagination */
#eventTypeSelect,
#itemsPerPage {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  flex-wrap: wrap;
  align-items: center;
}

.pagination.pagination-top {
  justify-content: flex-end;
}
.pagination.pagination-bottom {
  justify-content: center;
}

.pagination button {
  margin: 0 2px;
  padding: 0.3em 0.7em;
  border-radius: 4px;
  border: 1px solid var(--pagination-buttons-bg);
  background: var(--pagination-buttons-border);
  cursor: pointer;
}

.pagination button:disabled {
  background: var(--pagination-buttons-bg-disabled);
  cursor: default;
}

.pagination button.active {
  background-color: var(--pagination-buttons-bg-active);
  color: var(--pagination-buttons-color-active);
  font-weight: bold;
  border-color: var(--pagination-buttons-border-color-active);
}

.pagination button:not(.active):hover {
  background-color: var(--pagination-buttons-color-hover);
}

@media screen and (max-width: 600px) {
  .category {
    .table-header {
      display: none !important;


          }

    &:has(#images-only:checked) {
      tr {
        padding: 0 !important;
        border: none !important;
        background: none !important;
      }

      tbody {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 0;
      }
    }

    tbody {
      gap: 0.8rem;
    }

    tr {
      grid-template-columns: 0.8fr 1.2fr !important;
      grid-template-rows: repeat(6, auto);
      grid-template-areas:
        "archive-title archive-title"
        "archive-type  archive-image"
        "archive-date  archive-image"
        "archive-date  archive-image"
        "archive-rels archive-iamge";
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border-radius: 5px;
      position: relative;
      td:nth-child(2) {
        grid-area: archive-number;
        position: absolute;
        right: 1rem;
        bottom: 1rem;

        .archive-number {
          font-weight: bold;
        }
      }
      td:nth-child(3) {
        grid-area: archive-title;
      }
      td:nth-child(4) {
        grid-area: archive-type;
      }
      td:nth-child(5) {
        grid-area: archive-date;
      }
      td:nth-child(6) {
        grid-area: archive-rels;
      }
      td:nth-child(7) {
        grid-area: archive-image;
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}

/* types color */
.types.expositie,
.types.exhibition {
  background-color: var(--exhibition-color);
}

.types.lancering,
.types.launch {
  background-color: var(--launch-color);
}

.types.debat,
.types.debate {
  background-color: var(--debat-color);
}

.types.symposium {
  background-color: var(--symposium-color);
}

.types.exhibition-program,
.types.expositie-programma {
  background-color: var(--exhibition-program-color);
}

.types.public-program,
.types.publiek-programma {
  background-color: var(--public-program-color);
}

.types.performance {
  background-color: var(--performance-color);
}

.types.film-screening,
.types.filmvertoning {
  background-color: var(--film-screening-color);
}

.types.talk {
  background-color: var(--talk-color);
}

.types.educational-program,
.types.educatief-programma {
  background-color: var(--educational-color);
}
