/* ///////////////////// */
/* 🎲🎲🎲 FONTFACES 🎲🎲🎲 */
/* ///////////////////// */

/* Primary */
/* @font-face {
    font-family: ;
    src: url();
} */
/* 🔗 SOURCE:  */

/* Secondary */
/* @font-face {
    font-family: ;
    src: url();
} */
/* 🔗 SOURCE:  */

/* ////////////////////// */
/* 🎞️🎞️🎞️ CSS REMEDY 🎞️🎞️🎞️ */
/* ////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

ul{
  list-style: none;
}

/* :root { */
    /* Fonts */
    /* Arial, Helvetica, sans-serif */

    /* Font sizes mobile/small */
    /* --h1-small:;
    --h2-small:;
    --h3-small:;
    --h4-small:;
    --p-small:; */

    /* Font sizes regular/desktop */
    /* --h1:;
    --h2:;
    --h3:;
    --h4:;
    --p:; */

    /* Colors */

    /* Buttons */
    /* Primary button */
    /* Secondary button */
/* } */

/* //////////////// */
/* 🎱🎱🎱 HTML 🎱🎱🎱 */
/* //////////////// */

/* /////////////////////////// */
/* 🪐🪐🪐 TEXT FORMATTING 🪐🪐🪐 */
/* /////////////////////////// */
