:root {
    --deep-black: #121212;
    --border-radius-button: 0.5rem;

    --detail-content-width-large-screens: clamp(26.25rem, 15.75rem + 52.5vw, 63rem);
    --back-arrow-margin-left: clamp(1rem, -0.1429rem + 5.7143vw, 5rem);
}

/* /////////////////// */
/* 📁📁📁 DETAILS 📁📁📁 */
/* /////////////////// */

/* MAIN */
main {
    width: 100%;
    height: 100%;
    margin: 2rem 0 0 0;
}

.back-arrow {
    width: fit-content;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-left: var(--back-arrow-margin-left);
}

.details-position {
    display: grid;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.details-wrapper {
    width: 100vw;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: relative;

    details {
        /* Eerst nodig om content niet te laten verschuiven */
        /* min-height: 90vh; */

        &[open] {
            /* outline: var(--border-radius-button) solid var(--deep-black) 1.5px; */
            border: var(--deep-black) 1.5px solid;
            border-radius: var(--border-radius-button);
        }

        & > summary {
            width: fit-content;
            height: fit-content;
            text-align: center;
        }

        /* &[open] summary {
            
        } */

        &::details-content {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0 1rem;
        }

        &[open]::details-content {
            left: 0;
            top: 4rem;
            position: absolute;
        } 
    }
}

@media screen and (min-width: 600px) {
    .details-wrapper {
        width: var(--detail-content-width-large-screens);
        padding: 0;

        details {
            
            &::details-content {
                gap: 2.5rem;
            }
        }
    }
}

/* ///////////////// */
/* 📄📄📄 ABOUT 📄📄📄 */
/* ///////////////// */

/* 🪩 EVENT */
.about summary {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .2rem .6rem;

    &::marker {
        content: "";
    }

    &::before {
        content: url("/public/images/about-icon.svg");
        height: 1.5rem;
        width: 1.5rem;
        display: inline-block;
    }
}

.about ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem 2rem;
}

.type {
    width: 40%;
}

.artist,
.exhibitions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem 1rem;

    & > :first-child {
        width: 100%;
    }
}

/* date */
.date {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .5rem 0;
}

/* Artists */


.line {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .about ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem 0;
    }

    .cover-image {
        order: 5;
    }

    .type {
        order: 1;
    }

    .date {
        order: 3;
    }

    .line {
        order: 4; 
    }

    .type,
    .date {
        width: 100%;
    }

    .type,
    .date {
        width: auto;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .artist {
        order: 2;
        min-width: auto;
        max-width: 45%;
        display: flex;
        column-gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* 👱‍♀️ ARTIST/PERSON */
.about .person {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    & a {
        display: flex;
        width: fit-content;
        gap: 1rem;
        align-items: center;
    }
}

.exhibitions {
    width: 70%;
}

@media screen and (min-width: 600px) {
    .exhibitions {
        height: 100%;

        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
}
    

/* ////////////////////////// */
/* 🔒🔒🔒 HARDCODED DATA 🔒🔒🔒 */
/* ////////////////////////// */

hr {
    height: .5rem;
    background: var(--deep-black);
    border: none;
}

details iframe {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-button);
    object-fit: cover;
}

details img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-button);
    object-fit: cover;
}

/* ///////////////////// */
/* 🕯️🕯️🕯️ RELATIONS 🕯️🕯️🕯️ */
/* //////////////////// */

.relations summary {
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .2rem .6rem;

    &::marker {
        content: "";
    }

    &::before {
        content: url("/public/images/relations-icon.svg");
        height: 1.5rem;
        width: 1.5rem;
        display: inline-block;
    }
}

.cover-img {
    width: 80%;
}

.relations-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.relations li {
    width: 100%;
    height: auto;

    & a {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1.5rem;
    }
}

.relation-img {
    width: 8rem;
    height: 8rem;
    border-radius: var(--border-radius-button);
    object-fit: cover;
}

@media screen and (min-width: 600px) {
    .relations li { 
        width: 45%;
    }
}