/* /////////////////////////// */
/* 🪩🪩🪩 FOOTER STYLING 🪩🪩🪩  */
/* /////////////////////////// */

footer {
  view-transition-name: footer;

  & p {  
    color: var(--bright-white);
  }

  & a {
    color: var(--bright-white);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.375rem;
  width: 100%;
  height: auto;
  padding: 1.5625rem var(--padding-content-mobile);
  background-color: var(--deep-black);
  z-index: 105;
}

/* MEDIA QUERIES */
@media (min-width: 600px) {

  .footer-container {
    flex-direction: row;
    padding: 1.5625rem 2rem;
    gap: 2rem;
  }

  .footer-contacts,
  .footer-rights,
  .footer-links {
    flex-grow: 1;
    width: calc(100% / 3);
  }
}
