/* Global styles */
@import "typography.css";

/* Layout and view styling */
@import '../server/layouts/base.css';

/* Component styling */
@import '../server/views/index.css';
@import '../server/views/archive.css';

img {
    width: 100%;
    height: 100%;
}

body {
    background-color: blue;
}