/* /////////////////////////////////////// */
          /* 💗💗💗 FONTS  💗💗💗 */
/* /////////////////////////////////////// */ 


@font-face {
  font-family: 'Favorit regular';
  src: url('./fonts-favorit/Favorit_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Favorit';
  src: url('./fonts-favorit/Favorit_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit';
  src: url('./fonts-favorit/Favorit_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Favorit';
  src: url('./fonts-favorit/Favorit Light Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Favorit';
  src: url('./fonts-favorit/Favorit Light Italic 2.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
