<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}

    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>

  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
{% comment %} ⭐️ Navigation within the header ⭐️{% endcomment %}
<header>
    <nav>
      <ul class="home-menu">
        <li><svg xmlns="http://www.w3.org/2000/svg" width="74" height="28" viewBox="0 0 74 28" fill="none">
            <g clip-path="url(#clip0_312_117)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 13.2544H1.84101V7.79706H8.09985V6.13211H1.84101V1.96915H9.02051V0.304199H0V13.2544ZM12.4515 6.4094V1.96915H15.8576C17.4224 1.96915 18.3427 2.70919 18.3427 4.09654C18.3427 5.39177 17.4224 6.4088 15.8576 6.4088H12.4515V6.4094ZM10.6108 13.2544H12.4515V8.07435H16.8696C17.8822 8.07435 18.1585 8.35194 18.1585 9.36927V13.2544H19.9992V8.90682C19.9992 7.6122 19.5393 7.09375 18.0665 7.09375C19.2631 6.72373 20.1834 5.4845 20.1834 3.81925C20.1834 1.78429 18.5267 0.3045 16.1335 0.3045H10.6108V13.2544ZM30.0194 8.25951H25.1591L27.5894 2.00618L30.0194 8.25951ZM31.9521 13.2544H33.8665L28.8046 0.3045H26.4483L21.3486 13.2544H23.2264L24.515 9.92446H30.6636L31.9521 13.2544ZM41.0332 13.2544H43.3895L47.1817 1.87672V13.2544H49.0228V0.3045H45.9855L42.2115 11.5153L38.3638 0.3045H35.3079V13.2544H37.1489V1.93241L41.0332 13.2544ZM50.9701 13.2544H60.5428V11.5894H52.8111V7.42674H59.2542V5.76179H52.8111V1.96975H60.3588V0.304199H50.9701V13.2544ZM64.1601 6.4094V1.96915H67.5659C69.1307 1.96915 70.051 2.70919 70.051 4.09654C70.051 5.39177 69.1307 6.4088 67.5659 6.4088H64.1601V6.4094ZM62.3191 13.2544H64.1601V8.07435H68.5782C69.5909 8.07435 69.8671 8.35194 69.8671 9.36927V13.2544H71.7078V8.90682C71.7078 7.6122 71.2476 7.09375 69.7751 7.09375C70.9714 6.72373 71.8921 5.4845 71.8921 3.81925C71.8921 1.78429 70.2353 0.3045 67.8418 0.3045H62.3191V13.2544ZM0 15.05H1.84101V20.5076H8.09985V22.1725H1.84101V26.3352H9.02051V28.0001H0V15.05ZM12.4515 21.8952V26.3352H15.8576C17.4224 26.3352 18.3427 25.5951 18.3427 24.2078C18.3427 22.9125 17.4224 21.8952 15.8576 21.8952H12.4515ZM10.6108 15.05H12.4515V20.23H16.8696C17.8822 20.23 18.1585 19.9527 18.1585 18.9353V15.0497H19.9992V19.3972C19.9992 20.6921 19.5393 21.2103 18.0665 21.2103C19.2631 21.5806 20.1834 22.8198 20.1834 24.4848C20.1834 26.52 18.5267 27.9998 16.1335 27.9998H10.6108V15.05ZM30.0194 20.0451H25.1591L27.5894 26.2981L30.0194 20.0451ZM31.9521 15.0503H33.8665L28.8046 28.0001H26.4483L21.3486 15.05H23.2264L24.515 18.3799H30.6636L31.9521 15.0503ZM41.0332 15.0503H43.3895L47.1817 26.4279V15.0503H49.0228V28.0001H45.9855L42.2115 16.789L38.3638 28.0001H35.3079V15.05H37.1489V26.3722L41.0332 15.0503ZM50.9701 15.0503H60.5428V16.7152H52.8111V20.8776H59.2542V22.5425H52.8111V26.3352H60.3588V28.0001H50.9701V15.0503ZM62.3191 15.0503H66.9215C70.5112 15.0503 72.9044 17.4553 72.9044 21.5252C72.9044 25.5951 70.5112 28.0001 66.9215 28.0001H62.3191V15.0503ZM64.1601 16.7152V26.3352H66.7375C69.4989 26.3352 71.0637 24.6702 71.0637 21.5252C71.0637 18.3802 69.4989 16.7152 66.7375 16.7152H64.1601Z" fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_312_117">
                <rect width="74" height="28" fill="white" />
              </clipPath>
            </defs>
          </svg></li>
        <li>
          <label for="all-content">
            <input type="radio" id="all-content" name="grid-view" checked hidden><svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
              <path d="M2.87067 17.5395C2.85383 17.7037 2.87299 17.8695 2.9268 18.0255C2.98062 18.1814 3.06782 18.3238 3.1823 18.4426C3.29679 18.5614 3.43581 18.6538 3.58967 18.7133C3.74354 18.7729 3.90854 18.7982 4.07318 18.7875C5.31121 18.7722 6.54729 18.8901 7.76009 19.1391C9.46359 19.347 11.091 19.966 12.502 20.9429V7.21619C11.0932 6.23135 9.4656 5.60446 7.76009 5.38975C6.52416 5.14357 5.26502 5.03324 4.00511 5.06076C3.70425 5.06076 3.41569 5.18028 3.20294 5.39303C2.99019 5.60577 2.87067 5.89433 2.87067 6.1952V17.5395Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M22.1332 17.5395C22.1432 17.7001 22.1189 17.8608 22.0621 18.0112C22.0051 18.1616 21.9168 18.2982 21.8032 18.4119C21.6895 18.5257 21.5529 18.6139 21.4025 18.6708C21.2521 18.7277 21.0912 18.752 20.9307 18.742C19.6927 18.7267 18.4566 18.8446 17.2438 19.0937C15.5363 19.3152 13.9086 19.95 12.502 20.9429V7.21619C13.9108 6.23135 15.5383 5.60446 17.2438 5.38975C18.4798 5.14357 19.7389 5.03324 20.9988 5.06076C21.1537 5.06048 21.307 5.09192 21.4492 5.15314C21.5915 5.21436 21.7198 5.30407 21.826 5.41672C21.9324 5.52938 22.0145 5.66262 22.0673 5.8082C22.1201 5.9538 22.1426 6.10866 22.1332 6.26326V17.5395Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M5.85547 9.07666H7.15971" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M5.85547 15.3389H7.76572" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M6.02002 12.208H9.51117" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg> All content
          </label>
        </li>

        <li>
          <label for="theme">
            <input type="radio" id="theme" name="grid-view" hidden> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M9.25 22.1353H19.5312C20.2219 22.1353 20.8843 21.8609 21.3727 21.3725C21.861 20.8841 22.1354 20.2217 22.1354 19.5311V15.7498C22.1299 15.0628 21.8531 14.4058 21.3653 13.9218C20.8776 13.438 20.2183 13.1665 19.5312 13.1665H18.2083" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M11.854 19.5104L18.2082 13.1459L20.1561 11.1979C20.3983 10.9569 20.5905 10.6704 20.7216 10.3549C20.8528 10.0394 20.9203 9.70109 20.9203 9.3594C20.9203 9.01771 20.8528 8.6794 20.7216 8.36388C20.5905 8.04837 20.3983 7.76188 20.1561 7.52086L17.479 4.84378C17.238 4.60158 16.9515 4.40939 16.636 4.27825C16.3205 4.1471 15.9821 4.07959 15.6405 4.07959C15.2988 4.07959 14.9605 4.1471 14.6449 4.27825C14.3294 4.40939 14.043 4.60158 13.8019 4.84378L11.854 6.79169" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M9.25016 2.86475H5.46891C4.03067 2.86475 2.86475 4.03067 2.86475 5.46891V19.5314C2.86475 20.9696 4.03067 22.1356 5.46891 22.1356H9.25016C10.6884 22.1356 11.8543 20.9696 11.8543 19.5314V5.46891C11.8543 4.03067 10.6884 2.86475 9.25016 2.86475Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M7.35921 19.3683C8.27599 19.3683 9.01919 18.6251 9.01919 17.7083C9.01919 16.7916 8.27599 16.0483 7.35921 16.0483C6.44242 16.0483 5.69922 16.7916 5.69922 17.7083C5.69922 18.6251 6.44242 19.3683 7.35921 19.3683Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg> Theme
          </label>
        </li>

        <!-- search bar in the menu -->
        <li>
          <input class="search__input" type="search" placeholder="Search" id="searchInput">
          <div class="search__icon-container">
            <label for="searchInput">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.7828 18.8276C12.3741 18.8298 13.9302 18.3601 15.2544 17.4781C16.5785 16.596 17.6112 15.3413 18.2216 13.8726C18.832 12.4039 18.9929 10.7872 18.6837 9.2271C18.3746 7.66702 17.6093 6.23364 16.4849 5.10831C15.3604 3.98299 13.9272 3.2163 12.3666 2.90525C10.8061 2.5942 9.18823 2.75277 7.71786 3.3609C6.24748 3.96902 4.99062 4.99937 4.10632 6.32158C3.22202 7.64379 2.75 9.19844 2.75 10.7888C2.75 12.919 3.59596 14.9621 5.10209 16.4693C6.60821 17.9766 8.65135 18.8248 10.7828 18.8276Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16.4883 16.491L21.25 21.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </label>
          </div>
        </li>

        <!-- Icon for the view grid, position -->
        <li>
          <label for="view-position">
            <input type="checkbox" id="view-position" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M8.55694 2.75H4.68222C4.16976 2.75 3.6783 2.95357 3.31593 3.31593C2.95357 3.6783 2.75 4.16976 2.75 4.68222V8.55694C2.74999 9.07035 2.95324 9.56288 3.31531 9.92687C3.67738 10.2909 4.16882 10.4967 4.68222 10.4994H8.55694C9.07212 10.4994 9.56621 10.2948 9.9305 9.9305C10.2948 9.56621 10.4994 9.07212 10.4994 8.55694V4.68222C10.4967 4.16882 10.2909 3.67738 9.92687 3.31531C9.56288 2.95324 9.07035 2.74999 8.55694 2.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M19.3178 2.75H15.443C14.9296 2.74999 14.4371 2.95324 14.0731 3.31531C13.7091 3.67738 13.5033 4.16882 13.5005 4.68222V8.55694C13.5005 9.07212 13.7052 9.56621 14.0695 9.9305C14.4338 10.2948 14.9279 10.4994 15.443 10.4994H19.3178C19.8312 10.4967 20.3226 10.2909 20.6847 9.92687C21.0468 9.56288 21.25 9.07035 21.25 8.55694V4.68222C21.25 4.16976 21.0464 3.6783 20.6841 3.31593C20.3217 2.95357 19.8302 2.75 19.3178 2.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M19.3178 13.5005H15.443C14.9296 13.5005 14.4371 13.7038 14.0731 14.0659C13.7091 14.4279 13.5033 14.9194 13.5005 15.4328V19.3075C13.5005 19.8227 13.7052 20.3168 14.0695 20.681C14.4338 21.0453 14.9279 21.25 15.443 21.25H19.3178C19.8312 21.2473 20.3226 21.0414 20.6847 20.6774C21.0468 20.3134 21.25 19.8209 21.25 19.3075V15.4328C21.25 14.9203 21.0464 14.4288 20.6841 14.0665C20.3217 13.7041 19.8302 13.5005 19.3178 13.5005Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.55694 13.5005H4.68222C4.16882 13.5033 3.67738 13.7091 3.31531 14.0731C2.95324 14.4371 2.74999 14.9296 2.75 15.443V19.3178C2.75 19.8302 2.95357 20.3217 3.31593 20.6841C3.6783 21.0464 4.16976 21.25 4.68222 21.25H8.55694C9.07035 21.25 9.56288 21.0468 9.92687 20.6847C10.2909 20.3226 10.4967 19.8312 10.4994 19.3178V15.443C10.4994 14.9279 10.2948 14.4338 9.9305 14.0695C9.56621 13.7052 9.07212 13.5005 8.55694 13.5005Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M8.55694 2.75H4.68222C4.16976 2.75 3.6783 2.95357 3.31593 3.31593C2.95357 3.6783 2.75 4.16976 2.75 4.68222V8.55694C2.74999 9.07035 2.95324 9.56288 3.31531 9.92687C3.67738 10.2909 4.16882 10.4967 4.68222 10.4994H8.55694C9.07212 10.4994 9.56621 10.2948 9.9305 9.9305C10.2948 9.56621 10.4994 9.07212 10.4994 8.55694V4.68222C10.4967 4.16882 10.2909 3.67738 9.92687 3.31531C9.56288 2.95324 9.07035 2.74999 8.55694 2.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M19.3178 2.75H15.443C14.9296 2.74999 14.4371 2.95324 14.0731 3.31531C13.7091 3.67738 13.5033 4.16882 13.5005 4.68222V8.55694C13.5005 9.07212 13.7052 9.56621 14.0695 9.9305C14.4338 10.2948 14.9279 10.4994 15.443 10.4994H19.3178C19.8312 10.4967 20.3226 10.2909 20.6847 9.92687C21.0468 9.56288 21.25 9.07035 21.25 8.55694V4.68222C21.25 4.16976 21.0464 3.6783 20.6841 3.31593C20.3217 2.95357 19.8302 2.75 19.3178 2.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M19.3178 13.5005H15.443C14.9296 13.5005 14.4371 13.7038 14.0731 14.0659C13.7091 14.4279 13.5033 14.9194 13.5005 15.4328V19.3075C13.5005 19.8227 13.7052 20.3168 14.0695 20.681C14.4338 21.0453 14.9279 21.25 15.443 21.25H19.3178C19.8312 21.2473 20.3226 21.0414 20.6847 20.6774C21.0468 20.3134 21.25 19.8209 21.25 19.3075V15.4328C21.25 14.9203 21.0464 14.4288 20.6841 14.0665C20.3217 13.7041 19.8302 13.5005 19.3178 13.5005Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8.55694 13.5005H4.68222C4.16882 13.5033 3.67738 13.7091 3.31531 14.0731C2.95324 14.4371 2.74999 14.9296 2.75 15.443V19.3178C2.75 19.8302 2.95357 20.3217 3.31593 20.6841C3.6783 21.0464 4.16976 21.25 4.68222 21.25H8.55694C9.07035 21.25 9.56288 21.0468 9.92687 20.6847C10.2909 20.3226 10.4967 19.8312 10.4994 19.3178V15.443C10.4994 14.9279 10.2948 14.4338 9.9305 14.0695C9.56621 13.7052 9.07212 13.5005 8.55694 13.5005Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <rect x="3" y="3" width="7" height="7" fill="white" />
              <rect x="14" y="3" width="7" height="7" fill="white" />
              <rect x="3" y="14" width="7" height="7" fill="white" />
              <rect x="14" y="14" width="7" height="7" fill="white" />
            </svg>

          </label>

        </li>
        <li>
          {% if lang == 'EN' %}
            <a href="/NL{{ request.url | remove_first: '/EN' }}">Nederlands</a>
          {% else %}
            <a href="/EN{{ request.url | remove_first: '/NL' }}">English</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </header>


  {% block content %}{% endblock %}

</body>
</html>
