<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  {% comment %} ⭐️ TITLE  ⭐️{% endcomment %}
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}

    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>

  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
{% comment %} ⭐️ NAVIGATION  ⭐️{% endcomment %}
{% render '../components/navigation/navigation.liquid' lang: lang, view: view %}

{% comment %} ⭐️ MAIN CONTENT  ⭐️{% endcomment %}
  {% block content %}{% endblock %}

{% comment %} ⭐️ FOOTER  ⭐️{% endcomment %}
{% render '../components/footer/footer.liquid' lang: lang, view: view %}

</body>
</html>
