{% layout "server/layouts/base.liquid" %}

{% block content %}

<main>
  {% render '../components/detail-page/details.liquid', title:
      (upperLang === 'EN'
        ? event?.event?.title_en
        : event?.event?.title_nl) || person?.person?.name || 'Detail',
    event,
    person,
    allArtists: filteredArtists,
    allEvents: filteredEvents %}
</main>

{% endblock %}