{% layout "server/layouts/base.liquid" %}

{% block content %}
{% comment %} <p>{{ event.event.title_nl }}</p>
<p>{{ lang }}</p> {% endcomment %}



<main>
{% render '../components/detail-page/details.liquid', 
  title: title, 
  event: event, 
  person: person, 
  allArtists: allArtists, 
  allEvents: allEvents, 
  lang: lang, 
  currentPath: currentPath, %}
</main>

{% endblock %}