{% layout "server/layouts/base.liquid" %}

{% block content %}
<main> 

    <h1>Titel</h1>
   <ul>
      {% for type in allEventTypes %}
        <li>
          <label>
            <input type="radio" value="{{ type }}" name="eventType" {% if type == selectedType %}checked{% endif %}>
            {{ type.nl }}
          </label>
        </li>
        {% endfor %}
   </ul>
    
   
       
</main>

{% endblock %}


