{% layout "server/layouts/base.liquid" %}

{% block content %}
<main>

    <h1>Titel</h1>
    <ul>
    {% assign unique_types = "" | split: "," %}

{% for type in allEventTypes %}
  {% if type.nl and type.nl != "" and type.nl != blank %}
    {% unless unique_types contains type.nl %}
      {% assign unique_types = unique_types | push: type.nl %}
      <li>
        <h2>{{ type.nl }}</h2>
        <ul>
          {% for item in allEvents %}
            {% if item.event.type_nl == type.nl %}
              <li>
                <a href="/archive/{{ item.event.uuid }}">
            <strong>{{ item.event.title_nl }}</strong> - {{ item.event.type_nl }}  
 
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>


    {% endunless %}
  {% endif %}
{% endfor %}
</ul>

</main>

{% endblock %}

