.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.strategy {
  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: 
      "title"
      "sidebar"
      "stratmap"
      "selectAgent" ;
      container-type: inline-size;
      container-name: --strategy;
    & div {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: 
      "title"
      "sidebar"
      "stratmap"
      "selectAgent" ;
      container-type: inline-size;
      container-name: --strategy;
    }
    & .sidebar article div {
      display: flex;
      flex-direction: row;
    }
}

@container --strategy (inline-size > 40em) {
  .strategy div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    'title title'
    'sidebar stratmap'
    'selectAgent selectAgent';
  }
}

.homepage {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 90vh;
  grid-template-areas: 
  "title"
  "content"
  "selectAgent" ;
  & .content {
    width: 99vw;
    grid-area: content;
  }
 
    & p {
      margin-bottom: 0.5rem;
      max-inline-size: 40%;
  }
  
}
 
.chooseMap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  margin-top: 2em;
  width: 98vw;
  & .mapCard {
    position: relative;
    width: 90%;
    img {
      width: 100%;
      height: auto;
      cursor: grab;
    }
    /* anchor-name: --anchor-abilities; */
  }
}

fieldset {
  display: flex;
  justify-content: center;
}