{% layout "server/layouts/base.liquid" %}

{% block content %}
<main> 
    <h1>Titel</h1>
    <h2>Collections</h2>
        <ul>
            {% for collection in allCollections %}
              <li>
                <strong>{{ collection.name }}</strong><br>
                UUID: {{ collection.uuid }}<br>
                Code: {{ collection.code }}
              </li>
            {% endfor %}
          </ul>   
    <h2></h2>
</main>



{% endblock %}
