
{% comment %}
/* /////////////////////////////////////// */
          /* 🪩🪩🪩 NAVIGATION  🪩🪩🪩 */
/* /////////////////////////////////////// */
{% endcomment %}


<header>
     <nav>
      <ul class="home-menu">

      {% comment %} Home logo svg - link to home page {% endcomment %}
        <li>
          <a href="/{{ lang }}/"><svg xmlns="http://www.w3.org/2000/svg" width="111" height="42" viewBox="0 0 303 115" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 53.9104H7.63771V31.3016H33.6034V24.404H7.63771V7.1574H37.4229V0.259766H0V53.9104ZM51.6568 25.5528V7.1574H65.7875C72.2792 7.1574 76.0975 10.2233 76.0975 15.9709C76.0975 21.3368 72.2792 25.5503 65.7875 25.5503H51.6568V25.5528ZM44.0203 53.9104H51.6568V32.4504H69.9861C74.1871 32.4504 75.3331 33.6004 75.3331 37.8151V53.9104H82.9695V35.8992C82.9695 30.5358 81.0617 28.3879 74.9515 28.3879C79.9157 26.8549 83.7339 21.721 83.7339 14.8221C83.7339 6.39155 76.8606 0.261013 66.9322 0.261013H44.0203V53.9104ZM124.54 33.2175H104.376L114.459 7.31082L124.54 33.2175ZM132.558 53.9104H140.5L119.5 0.261013H109.725L88.5676 53.9104H96.3582L101.704 40.1151H127.212L132.558 53.9104ZM170.232 53.9104H180.008L195.74 6.77447V53.9104H203.378V0.261013H190.777L175.12 46.7059L159.158 0.261013H146.48V53.9104H154.118V7.00523L170.232 53.9104ZM211.457 53.9104H251.171V47.0128H219.095V29.7674H245.825V22.8698H219.095V7.15989H250.408V0.259766H211.457V53.9104ZM266.178 25.5528V7.1574H280.307C286.799 7.1574 290.617 10.2233 290.617 15.9709C290.617 21.3368 286.799 25.5503 280.307 25.5503H266.178V25.5528ZM258.54 53.9104H266.178V32.4504H284.507C288.708 32.4504 289.854 33.6004 289.854 37.8151V53.9104H297.49V35.8992C297.49 30.5358 295.581 28.3879 289.472 28.3879C294.435 26.8549 298.255 21.721 298.255 14.8221C298.255 6.39155 291.382 0.261013 281.452 0.261013H258.54V53.9104ZM0 61.3494H7.63771V83.9594H33.6034V90.857H7.63771V108.102H37.4229V115H0V61.3494ZM51.6568 89.7082V108.102H65.7875C72.2792 108.102 76.0975 105.036 76.0975 99.2888C76.0975 93.9229 72.2792 89.7082 65.7875 89.7082H51.6568ZM44.0203 61.3494H51.6568V82.8094H69.9861C74.1871 82.8094 75.3331 81.6606 75.3331 77.4459V61.3481H82.9695V79.3593C82.9695 84.724 81.0617 86.8706 74.9515 86.8706C79.9157 88.4048 83.7339 93.5387 83.7339 100.436C83.7339 108.868 76.8606 114.999 66.9322 114.999H44.0203V61.3494ZM124.54 82.0435H104.376L114.459 107.949L124.54 82.0435ZM132.558 61.3506H140.5L119.5 115H109.725L88.5676 61.3494H96.3582L101.704 75.1446H127.212L132.558 61.3506ZM170.232 61.3506H180.008L195.74 108.487V61.3506H203.378V115H190.777L175.12 68.5538L159.158 115H146.48V61.3494H154.118V108.256L170.232 61.3506ZM211.457 61.3506H251.171V68.2482H219.095V85.4923H245.825V92.39H219.095V108.102H250.408V115H211.457V61.3506ZM258.54 61.3506H277.634C292.526 61.3506 302.455 71.3141 302.455 88.1753C302.455 105.036 292.526 115 277.634 115H258.54V61.3506ZM266.178 68.2482V108.102H276.87C288.326 108.102 294.818 101.205 294.818 88.1753C294.818 75.1459 288.326 68.2482 276.87 68.2482H266.178Z" fill="black"/>
            </svg>
          </a>
        </li>

        <li>
          <a
  href="{{ currentPath }}?view={% if view == 'categories' %}all-data{% else %}categories{% endif %}"
>
  {% if view == 'categories' %}
    <div class="all-content">
      <svg class="all-content-logo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 26" fill="none">
                <path d="M2.87067 17.5395C2.85383 17.7037 2.87299 17.8695 2.9268 18.0255C2.98062 18.1814 3.06782 18.3238 3.1823 18.4426C3.29679 18.5614 3.43581 18.6538 3.58967 18.7133C3.74354 18.7729 3.90854 18.7982 4.07318 18.7875C5.31121 18.7722 6.54729 18.8901 7.76009 19.1391C9.46359 19.347 11.091 19.966 12.502 20.9429V7.21619C11.0932 6.23135 9.4656 5.60446 7.76009 5.38975C6.52416 5.14357 5.26502 5.03324 4.00511 5.06076C3.70425 5.06076 3.41569 5.18028 3.20294 5.39303C2.99019 5.60577 2.87067 5.89433 2.87067 6.1952V17.5395Z"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M22.1332 17.5395C22.1432 17.7001 22.1189 17.8608 22.0621 18.0112C22.0051 18.1616 21.9168 18.2982 21.8032 18.4119C21.6895 18.5257 21.5529 18.6139 21.4025 18.6708C21.2521 18.7277 21.0912 18.752 20.9307 18.742C19.6927 18.7267 18.4566 18.8446 17.2438 19.0937C15.5363 19.3152 13.9086 19.95 12.502 20.9429V7.21619C13.9108 6.23135 15.5383 5.60446 17.2438 5.38975C18.4798 5.14357 19.7389 5.03324 20.9988 5.06076C21.1537 5.06048 21.307 5.09192 21.4492 5.15314C21.5915 5.21436 21.7198 5.30407 21.826 5.41672C21.9324 5.52938 22.0145 5.66262 22.0673 5.8082C22.1201 5.9538 22.1426 6.10866 22.1332 6.26326V17.5395Z"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M5.85547 9.07666H7.15971"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M5.85547 15.3389H7.76572"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M6.02002 12.208H9.51117" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
      <p>All content</p>
    </div>
  {% endif %}
  {% if view == 'all-data' %}
    <div class="categories-home">
      <svg class="categorie-logo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path d="M20.3947 10.9213V7.71073C20.3947 7.15845 19.947 6.71073 19.3947 6.71073H12.3879C12.1227 6.71073 11.8683 6.60538 11.6808 6.41784L10.1613 4.89836C9.97378 4.71083 9.71942 4.60547 9.45421 4.60547H3.5C2.94772 4.60547 2.5 5.05318 2.5 5.60547V19.3949C2.5 19.9472 2.94772 20.3949 3.5 20.3949H4.76684C5.25896 20.3949 5.65789 19.996 5.65789 19.5039V19.5039C5.65789 19.397 5.67711 19.2911 5.71463 19.191L8.57246 11.5701C8.71882 11.1798 9.09194 10.9213 9.50879 10.9213H21.1126C21.7951 10.9213 22.2771 11.59 22.0613 12.2375L19.57 19.7112C19.4339 20.1195 19.0518 20.3949 18.6213 20.3949H4.60526" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
      <p>Categories</p>
    </div>
  {% endif %}
</a>





          <label for="theme">
            <input type="checkbox" id="theme" hidden> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
              <path d="M9.25 22.1353H19.5312C20.2219 22.1353 20.8843 21.8609 21.3727 21.3725C21.861 20.8841 22.1354 20.2217 22.1354 19.5311V15.7498C22.1299 15.0628 21.8531 14.4058 21.3653 13.9218C20.8776 13.438 20.2183 13.1665 19.5312 13.1665H18.2083" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M11.854 19.5104L18.2082 13.1459L20.1561 11.1979C20.3983 10.9569 20.5905 10.6704 20.7216 10.3549C20.8528 10.0394 20.9203 9.70109 20.9203 9.3594C20.9203 9.01771 20.8528 8.6794 20.7216 8.36388C20.5905 8.04837 20.3983 7.76188 20.1561 7.52086L17.479 4.84378C17.238 4.60158 16.9515 4.40939 16.636 4.27825C16.3205 4.1471 15.9821 4.07959 15.6405 4.07959C15.2988 4.07959 14.9605 4.1471 14.6449 4.27825C14.3294 4.40939 14.043 4.60158 13.8019 4.84378L11.854 6.79169" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M9.25016 2.86475H5.46891C4.03067 2.86475 2.86475 4.03067 2.86475 5.46891V19.5314C2.86475 20.9696 4.03067 22.1356 5.46891 22.1356H9.25016C10.6884 22.1356 11.8543 20.9696 11.8543 19.5314V5.46891C11.8543 4.03067 10.6884 2.86475 9.25016 2.86475Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M7.35921 19.3683C8.27599 19.3683 9.01919 18.6251 9.01919 17.7083C9.01919 16.7916 8.27599 16.0483 7.35921 16.0483C6.44242 16.0483 5.69922 16.7916 5.69922 17.7083C5.69922 18.6251 6.44242 19.3683 7.35921 19.3683Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg> <p>Theme</p>
          </label>


        <!-- search bar in the menu -->
          {% comment %} <div class="search-container">
            <input class="search__input" type="search" placeholder="Search" id="searchInput">
            <div class="search__icon-container">
                <label for="searchInput">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.7828 18.8276C12.3741 18.8298 13.9302 18.3601 15.2544 17.4781C16.5785 16.596 17.6112 15.3413 18.2216 13.8726C18.832 12.4039 18.9929 10.7872 18.6837 9.2271C18.3746 7.66702 17.6093 6.23364 16.4849 5.10831C15.3604 3.98299 13.9272 3.2163 12.3666 2.90525C10.8061 2.5942 9.18823 2.75277 7.71786 3.3609C6.24748 3.96902 4.99062 4.99937 4.10632 6.32158C3.22202 7.64379 2.75 9.19844 2.75 10.7888C2.75 12.919 3.59596 14.9621 5.10209 16.4693C6.60821 17.9766 8.65135 18.8248 10.7828 18.8276Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16.4883 16.491L21.25 21.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                </label>
            </div> {% endcomment %}
          </div>
          </li>

        </li>
        <li>
          {% if lang == 'EN' %}
            <a href="/NL{{ request.url | remove_first: '/EN' }}">NL</a>
          {% else %}
            <a href="/EN{{ request.url | remove_first: '/NL' }}">EN</a>
          {% endif %}
        </li>
                        <li class="settings">
                    <h2>Pas de tekststijl aan</h2>
                <ul>
                    <li>
                        <input type="checkbox" id="dark-mode-toggle" />
                        <label for="dark-mode-toggle" class="toggle"></label><p class="light-dark"></p>
                    </li>
                    <li class="slider-container">
                        <label>Font Size: <span id="sizeValue">16px</span><input type="range" id="sizeSlider" min="10" max="50" value="16"></label>

                    </li>

                    <li class="slider-container">
                        <label>Line Height: <span id="lineHeightValue">1.5</span><input type="range" id="lineHeightSlider" min="1" max="3" step="0.1" value="1.5"></label>

                    </li>

                    <li class="slider-container">
                        <label>Font Weight: <span id="weightValue">400</span><input type="range" id="weightSlider" min="100" max="900" step="100" value="400"></label>

                    </li>

                    <li class="slider-container">
                        <label>Letter Spacing: <span id="letterSpacingValue">0px</span><input type="range" id="letterSpacingSlider" min="-5" max="10" step="0.5" value="0"></label>

                    </li>
                </ul>


            <p class="text">Dit is een voorbeeldtekst.</p>

                    <div class="settings-buttons">
                        <button onclick="resetToDefault()">Reset</button>
                        <label for="theme" class="save-button">Save</label>
                    </div>
                </li>
      </ul>
    </nav>
  </header>
