{% comment %} 
/* /////////////////////////////////////// */
          /* 🪩🪩🪩 FOOTER  🪩🪩🪩 */
/* /////////////////////////////////////// */ 
{% endcomment %}

{% block footer %}
   <footer>
        <div class="footer-container">
            <ul class="footer-contacts">
                <li><p>Framer Framed</p></li>
                <li><p>Oranje-Vrijstaatkade 71, 1093 KS Amsterdam</p></li>
                <li><p>1093 KS Amsterdam</p></li>
            </ul>

            <hr class="line-footer">

            <ul>
                <li><p>© 2023 Framer Framed</p></li>
                <li><p>All rights reserved</p></li>
            </ul>
            
            <hr class="line-footer">

            <ul class="footer-links">
                <li><a href="https://framerframed.nl/contact-en-openingstijden/">Contact & openingstijden</a></li>
                <li><a href="https://framerframed.nl/stichting/">Stichting</a></li>
                <li><a href="https://framerframed.nl/over-ons/">Over ons</a></li>
                <li><a href="https://framerframed.nl/ons-team-en-organisatie/"></a>Ons team & organisatie</li>
                <li><a href="https://framerframed.nl/werkplaats-molenwijk/">Werkplaats Molenwijk</a></li>
            </ul>
        </div>

    </footer>
{% endblock %}
