{% block footer %}
   <footer>
        <div class="footer-container">
            <ul class="footer-contacts">
                <li><p>Framer Framed</p></li>
                <li><p>Oranje-Vrijstaatkade 71, 1093 KS Amsterdam</p></li>
                <li><p>1093 KS Amsterdam</p></li>
            </ul>

            <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/terms">Terms of Service</a></li>
            </ul>
        </div>

    </footer>
{% endblock %}
